.logo{
    width: 60px;
    margin: 10px 20px;
}
.logo img{
    width: 100%;
}
.nav-menu{
    display: none;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    background-color: #dfdddd;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.flex{
    margin: 10px auto ;
}
.flex nav{
    display: inline-flex;
    justify-content: center;
}
.flex nav li{
    list-style: none;
    padding: 2% 4%;
}
.Links{
    text-decoration: none;
    color: rgb(88, 86, 86);
}
@media (max-width:670px){
    .flex{
        /* position: relative; */
    }
    .flex nav{
        display: block;
        position: absolute;
        right: -500px;
    }
    .nav-menu{
        display: block;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .showMenu{
        right: -50px !important;
        background-color: #dfdddd;
        padding: 40px;
    }
}
