*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
}
.app-wrapper {
  max-width: 900px;   /* desktop width */
  margin: 0 auto;     /* THIS centers it */
  padding: 16px;      /* mobile spacing */
}

@media (max-width: 1124px) {
  .app-wrapper {
    max-width: 620px;
  }
}
@media (max-width: 1424px) {
  .app-wrapper {
    max-width: 580px;
  }
}

@media (max-width: 768px) {
  .app-wrapper {
    max-width: 100%;
    padding: 12px;
  }
}

.card-small{
    width: 100%;
    padding: 16px;
    box-shadow: none;
    position: relative;
    margin: 40px auto;
}
.share-text-box {
    width: 100%;
    border: 1px solid black;
    display: block;
    height: 44px;
    padding: 13px 90px 13px 20px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.file{
    padding: 10px 0 0;
    margin: 0 10px;
}
.btn-share{
    bottom: 3px;
    right: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    padding: 11px 25px;
    margin-right: 2px;
    border-radius: 40px;
    background-color: #dc4734;
    position: absolute;
    text-transform: uppercase;
}