*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainDiv{
    width: 500px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 100px auto;
    padding: 20px;
    align-items: center;
    background-color: rgba(134, 134, 134, 0.637);
}
.mainDiv h1{
    margin: 20px auto;
    text-align: center;
}
.mainDiv p{
    font-size: 15px;
    font-weight: 600;
}
.mainDiv input{
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    background: none;
}
.mainDiv button{
    padding: 13px 30px;
    margin: 10px 150px 30px;
    border-radius: 10px;
}